<%- include('./partials/header') %> 

				<a class="nav-link active" aria-current="page" href="/">Home</a>
				<% if (user) { %> 
					<% if (user.membershipStatus === 'Non-member') { %> 
						<a class="nav-link" href="/join-the-club">Join the club</a>
					<% } %> 
					<a class="nav-link" href="/log-out">Log Out</a>
					<div class="nav-link disabled">(Logged in as <%= user.username %>)</div>
				<% } else { %> 
					<a class="nav-link" href="/log-in">Log In</a>
                    <a class="nav-link" href="/sign-up">Sign Up</a>
				<% } %> 
			</div>
		</div>
	</div>
</nav>
<div class="container-fluid p-4">

	<% if (user) { %>
		<% if (user.membershipStatus === 'Member' || user.membershipStatus === 'Admin') { %>
			<h3>Add Message</h3>
			<form method="POST" id="add-message-form">
				<div>
					<label for="title">Title: </label>
					<input type="text" name="title" id="title"/>
				</div>
				<div>
					<p><label for="message">Message:</label></p>
					<textarea id="message" name="message" rows="4" cols="50"></textarea>
				</div>
				<button type="submit" id="add-message-btn">Post</button>
			</form>
			<script src="/javascripts/messages.js"></script>
		<% } else if (user.membershipStatus === 'Non-member') { %>
			<div>
				Not yet a member? <a href="/join-the-club">Join the club</a>
			</div>
		<% } %>
	<% } %> 
	
	<div class="messages-container">
		<% for (let i = 0; i < messages.length; i++) { %>
			<div class="message-item" msg-id=<%= messages[i]._id %>>
				<div class="message-title">
					<%= messages[i].title %>
				</div>
				<div class="message-message">
					<%= messages[i].message %>
				</div>
				<% if (user) { %>
					<% if (user.membershipStatus === 'Admin') { %>
						<button data-id=<%= messages[i]._id %> class="delete-btn">Delete</button>
					<% } %>

					<% if (user.membershipStatus === 'Member' || user.membershipStatus === 'Admin') { %>
						<div class="message-author">
							by <%= messages[i].user.fullName %>
						</div>
						<div class="message-timestamp">
							<%= messages[i].formatTimestamp %>
						</div>
					<% } %>
				<% } %> 
			</div>
		<% } %> 
	</div>

	<script src="/javascripts/toggle-password.js"></script>
<%- include('./partials/footer') %> 