<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./stylesheets/style.css">
	<title>Clubhouse: <%= title %></title>
  </head>
  <body>
	<% if (user) { %>
        <h4>Logged in as "<%= user.fullName %>"</h4>
		<% if (user.membershipStatus === 'Member') { %>
			Congrats! You're already a member of the Clubhouse
			<h3>Add Message</h3>
			<form method="POST" id="add-message-form">
				<div>
					<label for="title">Title: </label>
					<input type="text" name="title" id="title"/>
				</div>
				<div>
					<p><label for="message">Message:</label></p>
					<textarea id="message" name="message" rows="4" cols="50"></textarea>
				</div>
				<button type="submit" id="add-message-btn">Post</button>
			</form>
			<script src="/javascripts/messages.js"></script>
		<% } else { %>
			<a href="/join-the-club">Join the club</a>
		<% } %>
		<br><br>
        <a href="/log-out">LOG OUT</a>
	<% } else { %>
		<h1>Log In</h1>
		<form action="/log-in" method="POST">
			<div>
				<label for="username">Username</label>
				<input type="text" name="username" id="username" placeholder="Enter your username">
			</div>
			<div>
				<label for="password">Password</label>
				<input type="password" name="password" id="password" placeholder="Enter your password" class="password-input">
			</div>
			<div>
                <input type="checkbox" id="checkbox" onclick="showPassword()">
                <label for="checkbox">Show Password</label>
            </div>
			<button>Log In</button>
		</form>
		<br>
		No account yet?
		<a href="/sign-up">Sign Up now!</a>
	<% } %>
	
	<div class="messages-container">
		<% for (let i = 0; i < messages.length; i++) { %>
			<div class="message-item">
				<div class="message-title">
					<%= messages[i].title %>
				</div>
				<div class="message-message">
					<%= messages[i].message %>
				</div>
				<% if (user) { %>
					<div class="message-author">
						by <%= messages[i].user.fullName %>
					</div>
					<div class="message-timestamp">
						<%= messages[i].formatTimestamp %>
					</div>
				<% } %> 
			</div>
		<% } %> 
	</div>

	<script src="/javascripts/toggle-password.js"></script>
  </body>
</html>
