<%- include('./partials/header') %> 

				<a class="nav-link active" aria-current="page" href="/">Home</a>
				<% if (user) { %> 
					<% if (user.membershipStatus === 'Non-member') { %> 
						<a class="nav-link" href="/join-the-club">Join the club</a>
					<% } %> 
					<a class="nav-link" href="/log-out">Log Out</a>
					<div class="nav-link disabled">(Logged in as <%= user.username %>)</div>
				<% } else { %> 
					<a class="nav-link" href="/log-in">Log In</a>
                    <a class="nav-link" href="/sign-up">Sign Up</a>
				<% } %> 
			</div>
		</div>
	</div>
</nav>
<div class="container-fluid p-4">

	<% if (user) { %>
		<% if (user.membershipStatus === 'Member' || user.membershipStatus === 'Admin') { %>
			<h1 class="display-6 mb-3">Add Message</h1>
			<form class="form-message" method="POST" id="add-message-form">
				<div class="row mb-2">
					<label class="col-sm-1 col-form-label" for="title">Title: </label>
					<div class="col-sm-6">
						<input class="form-control" type="text" name="title" id="title"/>
					</div>
				</div>
				<div class="row">
					<label class="col-sm-1 col-form-label" for="message">Message:</label>
					<div class="col-sm-6">
						<textarea class="form-control" id="message" name="message" rows="4"></textarea>
					</div>
				</div>
				<div class="row mt-2">
					<div class="col-sm-7">
						<button type="submit" class="btn btn-primary" id="add-message-btn">Post</button>
					</div>
				</div>
			</form>
			<script src="/javascripts/messages.js"></script>
		<% } else if (user.membershipStatus === 'Non-member') { %>
			<div>
				Not yet a member? <a href="/join-the-club">Join the club</a>
			</div>
		<% } %>
	<% } %> 
	
	<h1 class="display-6">Messages</h1>
	<div class="messages-container">
		<% for (let i = 0; i < messages.length; i++) { %>
			<% if (i >= 10) { %>
				<div class="message-item py-2 px-3" style="display: none" <%= messages[i]._id %>>
			<% } else { %>
				<div class="message-item py-2 px-3" msg-id=<%= messages[i]._id %>>
			<%  } %> 
				<div class="message-title">
					<%= messages[i].title %>
				</div>
				<div class="message-message my-1">
					<%= messages[i].message %>
				</div>
				<% if (user) { %>
					<% if (user.membershipStatus === 'Admin') { %>
						<button data-id=<%= messages[i]._id %> class="btn btn-danger btn-sm delete-btn">Delete</button>
					<% } %>

					<% if (user.membershipStatus === 'Member' || user.membershipStatus === 'Admin') { %>
						<hr aria-hidden="true">	
						<div style="color: #475569; font-size: 0.9em;">
							<span class="message-author">
								Posted by <span style="color: #0c4a6e"><%= messages[i].user.fullName %></span>
							</span>
							<span class="message-timestamp">
								<%= messages[i].formatTimestamp %>
							</span>
						</div>
					<% } %>
				<% } %> 
			</div>
		<% } %> 
	</div>

	<script src="/javascripts/toggle-password.js"></script>
	<script src="/javascripts/infinite-scroll.js"></script>

<%- include('./partials/footer') %> 